* {
    font-family: 'Catamaran', sans-serif;
    color: #414141;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: #f0f0f0;
}

#title-section {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    margin: 34px 26px 0 26px;
}

#title-section h1 {
    color: black;
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 -6px -4px;

    cursor: default;
}

.highlighter-icon {
    height: 82px;
}

#settings-section { 
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 140px;
}

#colors-section {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 10px 25px 0 25px;
}

#colors-list {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
}

.color {
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    margin: 5px;

    border: 2px solid #5a5a5a;
    border-radius: 4px;
}

#selected-color {
    width: 85px;
    height: 85px;
    margin: 14px;
}

#controls-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

#toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 228px;
    height: 42px;
    margin: 10px 0;
    padding-top: 4px;

    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    background-color: #fdd33c;
    border: 0;
    border-radius: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#toggle-button > span {
    margin-bottom: -4px;
}

#shortcut-section {
    font-size: 14px;
}

#shortcut-link {
    text-decoration: underline;
    cursor: pointer;
}

#highlights-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    margin: 0 12px;
}

#tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 23px;
}

.tool {
    margin: 0 10px 0 10px;
    
    cursor: pointer;
    font-size: 16px;
}

#highlights-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.highlight {
    margin: 0 23px 20px 23px;
    padding: 12px 16px;

    font-size: 16px;
    background-color: white;
    border-radius: 5px;
}
