 body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#popup {
    padding: 4px 6px;
}

button {
    display: block;
    color: white;
    cursor: pointer;
    height: 32px;
    background-color: #efa83a;
    border: none;
    width: 150px;
    text-align: center;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
}

button:hover {
    background-color: #e29c2f;
}

button:last-of-type {
    margin-bottom: 0;
}

#colors {
    display: flex;
    flex-direction: row;
    height: 31px;
    padding: 5px 11px 0 11px;
}

#colors label {
    display: flex;
    flex-grow: 1;
    margin: 4px;
    border: solid 1px #AAA;
}

#colors label.selected {
    border-color: black;
    border-width: 2px;
    width: 11px;
}

#colors label:nth-of-type(1) {
    background-color: yellow;
}
#colors label:nth-of-type(2) {
    background-color: cyan;
}
#colors label:nth-of-type(3) {
    background-color: lime;
}
#colors label:nth-of-type(4) {
    background-color: magenta;
}

#colors label input {
    cursor: pointer;
    opacity: 0; /* Hide the default browser radio buttons */
    flex-grow: 1;
    margin: 0;
    height: 100%;
}
